<%# content_for :title, "My Page" %>
<!-- <h1>Chris Heder</h1> -->

<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header class="w3-container">
    <a href="#"><img src="https://s3.amazonaws.com/chrisheder-assets/IMG_0135_pp.JPG" style="width:100px;" class="round-largest w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <h1 class="w3-bottombar"><b>Chris Heder</b></h1>
  </header>

  <div class="w3-container">
    <h3>About me</h3>
    <p>My name is Chris Heder. I was born and raised in South Florida. From 2012-2015 I worked in retail in the Loss Prevention department. I have always had a deep interest in technology however didn't know how to be a developer. I had the opportunity to join Wyncode and within nine weeks I was able to go from not knowing anything about coding to being able to develop a fully functioning web app.</p>
    <div class="w3-bottombar"></div>
  </div>

  <div class="w3-container">
    <h3>Languages and Frameworks</h3>
    <ul class="w3-ul">
      <li><b>Languages:</b> Ruby, HTML, CSS, Javascript</li>
      <li><b>Frameworks:</b> Ruby on Rails, Sinatra, JQuery</li>
      <li><b>Concepts:</b> Git, Agile Development, Pair Programming, Object Oriented Programming, and MVC</li>
    </ul>
    <div class="w3-bottombar"></div>
  </div>

  <!-- First Photo Grid-->
  <div class="w3-container">
    <h3>Projects</h3>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://s3.amazonaws.com/chrisheder-assets/equestnow.png" alt="Equestnow" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>EquestNow</b></p>
        <p>For our final project we built a web app with Ruby on Rails and Javascript mainly that would allow customers at a venue to send a song request to a live DJ. This app was built with the help of my teammates Alex Smith and Manuel Huerta.</p>
        <p><a href="https://github.com/chrisron95/equestnow"><b>See the code here!</b></a></p>
        <p><a href="http://equestnow.co"><b>Try out the app here!</b></a></p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://s3.amazonaws.com/chrisheder-assets/rainforestgood.jpg" alt="Rainforest" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Rainforest</b></p>
        <p>This was our first group projecct, we made an ecommerce website with all Wyncode brand products.</p>
        <p><a href="https://github.com/chrisron95/rainforest"><b>See the code here!</b></a></p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://s3.amazonaws.com/chrisheder-assets/triwizard_game.jpg" alt="Triwizard Tournament REPL Game" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Triwizard Tournament REPL Game</b></p>
        <p>For this project we had to build a game using the Ruby language that could be played from the command line. I chose to base it on Harry Potter and the Goblet of Fire's Triwizard Tournament.</p>
        <p><a href="https://repl.it/CDtQ/1"><b>See the code and try it here!</b></a></p>
      </div>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://s3.amazonaws.com/chrisheder-assets/voter_sim.jpg" alt="Voter Simulator" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Voter Simulator</b></p>
        <p>For this project we had to create a voter simulator that would let you Create, List, Edit and Delete voters and/or politicians.</p>
        <p><a href="https://repl.it/CDt7/0"><b>See the code and try it here!</b></a></p>
      </div>
    </div>
    <!-- <div class="w3-third w3-container w3-margin-bottom">
      <img src="img_lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <a href="#"><b>See the code and try it here!</b></a>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img_mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <a href="#"><b>See the code and try it here!</b></a>
      </div>
    </div> -->
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-white">
  <div class="w3-row-padding">
    <!-- <div class="w3-twothird"> -->
    <div>
      <h3>Contact Me</h3>
      <ul class="w3-ul">
        <li class="contact-item"><a href="tel:2398960986"><i class="fa fa-phone"></i>(239) 896-0986</a></li>
        <li class="contact-item"><a href="mailto:chris@chrisheder.com"><i class="fa fa-envelope" aria-hidden="true"></i>chris@chrisheder.com</a></li>
      </ul>
    </div>

  </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
    document.getElementsByClassName("w3-overlay")[0].style.display = "block";
}

function w3_close() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
    document.getElementsByClassName("w3-overlay")[0].style.display = "none";
}
</script>
