/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.dimp_logo {
  font-family: cursive;;
}

.page-heading {
  margin-bottom: 0px;
  font-size: 63px;
  text-shadow: 0px 0px 10px #444;
}

.front-body {
  margin: 0px;
  font-size: 24px;
  text-shadow: 0px 0px 10px #444;
}
